<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>读书郎招聘模板系统</title>
    <link rel="shortcut icon" href="/public/images/favicon.ico"/>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/login.css"/>
    <link rel='stylesheet' id='top-css' href='/public/css/index1.css' type='text/css' media='all' />
</head>
<body>
    <div class="title-wrap">
        <div class="logo"></div>
        <div class="self"><a>个人中心</a></div>
        <div class="login"><a href="/login">登录</a></div>
        <div class="register"><a href="register">注册</a></div>
    </div>
    <div id="document"  class="top-page">
        <div id="top" class="page-id">
            <main id="main-wrap">
                <header id="kv-wrap" class="full-screen-wrap hide">
                    <canvas id="kv-bg"></canvas>
                </header>
            </main>
        </div>
    </div>
    <footer>
        <div style="text-align:center;height: 100%; padding-top: 24px;">
            <a  href="http://www.readboy.com/list-58-1.html">版权声明</a>©2017 读书郎教育科技有限公司 版权所有(<a href="http://www.miibeian.gov.cn/">粤ICP备12092216号-1</a>)<br>
            <a href="http://wljg.gdgs.gov.cn/corpsrch.aspx?key=442000000171401" target="_blank" title="企业名称：读书郎教育科技有限公司&nbsp;&nbsp;法定代表人：秦曙光&nbsp;&nbsp;标识状态：已激活&nbsp;&nbsp;" style="line-height: 35px">
                <img src="http://www.readboy.com/statics/images/gs_icon_201411260029331.png" alt="" style="display: inline-block;position: static;">粤工商备P201708002261
            </a>&nbsp;&nbsp;|&nbsp;&nbsp;<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44200002442753" style="line-height: 35px"><img src="http://www.readboy.com/statics/images/gaba.png" style="display: inline-block;position: static;"/>粤公网安备 44200002442753号</a>
        </div>
    </footer>
</body>
<script src="/public/js/jquery-3.3.1.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="/public/js/script.js"></script>
<script type='text/javascript' src='/public/js/index1.js'></script>
</html>