<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>读书郎招聘模板系统</title>
    <link rel="shortcut icon" href="/public/images/favicon.ico"/>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/login.css"/>
</head>
<body>
    <div class="title-wrap">
        <div class="logo"></div>
        <div class="login"><a href="/login">登录</a></div>
        <div class="register"><a href="register">注册</a></div>
    </div>
    <div class="login-wrap">
        <div class="login-content">
            <p class="title">密码登录</p>
            <p class="fu-title">请在下方输入您的工号密码</p>
            <form>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="工号" id="userid">
                </div><!-- /input-group -->
                <div class="input-group">
                    <input type="password" class="form-control" placeholder="密码" id="password">
                </div><!-- /input-group -->
                <div class="input-group">
                    <button type="button" class="btn" id="login-btn" data-toggle="modal" data-target="#myModal">登录</button>
                </div><!-- /input-group -->
                <a href="/register" style="display: block;margin: 20px 0px 0px 0px;color:#9B9EA0;font-size: 12px;text-align: right;">未注册？点击此处进行注册</a>
            </form>
        </div>
    </div>
    <img src="/public/images/wanxia.png" class="bg"/>
    <footer>
        <div style="text-align:center;height: 100%; padding-top: 24px;">
            <a  href="http://www.readboy.com/list-58-1.html">版权声明</a>©2017 读书郎教育科技有限公司 版权所有(<a href="http://www.miibeian.gov.cn/">粤ICP备12092216号-1</a>)<br>
            <a href="http://wljg.gdgs.gov.cn/corpsrch.aspx?key=442000000171401" target="_blank" title="企业名称：读书郎教育科技有限公司&nbsp;&nbsp;法定代表人：秦曙光&nbsp;&nbsp;标识状态：已激活&nbsp;&nbsp;" style="line-height: 35px">
                <img src="http://www.readboy.com/statics/images/gs_icon_201411260029331.png" alt="" style="display: inline-block;position: static;">粤工商备P201708002261
            </a>&nbsp;&nbsp;|&nbsp;&nbsp;<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44200002442753" style="line-height: 35px"><img src="http://www.readboy.com/statics/images/gaba.png" style="display: inline-block;position: static;"/>粤公网安备 44200002442753号</a>
        </div>
    </footer>



    <!--The StartLine of the modal-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">登录结果</h4>
                </div>
                <div class="modal-body" id="loginsuccess">

                </div>
                <div class="modal-footer">
                    <a type="button" class="btn btn-default" href="" id="login_close">关闭</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!--The EndLine of the modal-->
</body>
<script src="/public/js/jquery-3.3.1.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="/public/js/login.js"></script>
</html>