<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>读书郎招聘模板系统</title>
    <link rel="shortcut icon" href="/public/images/favicon.ico"/>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/register.css"/>
</head>
<body>
    <div class="title-wrap">
        <div class="logo"></div>
        <div class="login"><a href="/login">登录</a></div>
        <div class="register"><a href="register">注册</a></div>
    </div>


    <div class="registerModel">
        <div class="title">欢迎注册读书郎招聘模板系统</div>
        <div class="row">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="请填写用户名" id="userName">
            </div><!-- /input-group -->
            <div class="input-group">
                <input type="text" class="form-control" placeholder="请填写工号" id="userId">
            </div><!-- /input-group -->
            <div class="input-group">
                <input type="text" class="form-control" placeholder="请选择部门" id="apartment">
            </div><!-- /input-group -->
            <div class="input-group">
                <input type="text" class="form-control" placeholder="请填写性别" id="sex">
            </div><!-- /input-group -->
            <div class="input-group">
                <input type="password" class="form-control" placeholder="请填写密码" id="password">
            </div><!-- /input-group -->
            <div class="input-group">
                <input type="password" class="form-control" placeholder="请填写确认密码" id="repassword">
            </div><!-- /input-group -->
            <div class="input-group">
                <button type="button" class="btn" id="register-btn" data-toggle="modal" data-target="#myModal">点击此处进行注册</button>
            </div><!-- /input-group -->
        </div>
    </div>




    <footer>
        <div style="text-align:center;height: 100%; padding-top: 24px;">
            <a  href="http://www.readboy.com/list-58-1.html">版权声明</a>©2017 读书郎教育科技有限公司 版权所有(<a href="http://www.miibeian.gov.cn/">粤ICP备12092216号-1</a>)<br>
            <a href="http://wljg.gdgs.gov.cn/corpsrch.aspx?key=442000000171401" target="_blank" title="企业名称：读书郎教育科技有限公司&nbsp;&nbsp;法定代表人：秦曙光&nbsp;&nbsp;标识状态：已激活&nbsp;&nbsp;" style="line-height: 35px">
                <img src="http://www.readboy.com/statics/images/gs_icon_201411260029331.png" alt="" style="display: inline-block;position: static;">粤工商备P201708002261
            </a>&nbsp;&nbsp;|&nbsp;&nbsp;<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44200002442753" style="line-height: 35px"><img src="http://www.readboy.com/statics/images/gaba.png" style="display: inline-block;position: static;"/>粤公网安备 44200002442753号</a>
        </div>
    </footer>




    <!--The StartLine of the modal-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">注册结果</h4>
                </div>
                <div class="modal-body" id="registersuccess">

                </div>
                <div class="modal-footer">
                    <a type="button" class="btn btn-default" href="" id="register_close">关闭</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!--The EndLine of the modal-->
</body>
<script src="/public/js/jquery-3.3.1.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="/public/js/DES.js"></script>
<script src="/public/js/register.js"></script>
</html>