<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312">
    <meta name="viewport" content="" />
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
	<title>读书郎招聘</title>
	<link rel="stylesheet" type="text/css" href="/public/css/Technologycss/readboy.css">
	<link rel="shortcut icon" href="/public/images/favicon.ico" />
	<link rel="bookmark" href="/public/images/favicon.ico" type="image/x-icon"　/>
	<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
	<div class="startPage">
		<div class="chilun"></div>
		<p class="unclock">点击页面解锁</p>
	</div>
	
	<div class="wrap">
		<div class="item item-1">
			<div class="index">
				<div class="index-1">公司介绍</div>
				<div class="index-2">招聘详情</div>
				<div class="index-3">简历提交</div>
				<div class="index-4">公司地址</div>
				<div class="lunzi"></div>
			</div>
			<div class="det">
				<div class="title">招聘详情</div>
				<div id="readboy">
					
				</div>
				<div class="bg"></div>
				<i class="up"></i>
			</div>
		</div>
	</div>
	<div class="company">
		<p class="title">公司介绍</p>
		<p class="content">读书郎教育科技有限公司始建于1999年，是一家以科技创新、科技开发为导向的新兴电子产品制造企业。公司致力于教育科技产品的研发、制造、销售事业，主要产品有学生平板、儿童平板、智能手表、电子书包、智能点读机等产品系列。</p>
		<div class="bg"></div>
	</div>
	<div id="items">
		<div class="title" id="position"></div>
		<div class="detail">
			<table>
				<tr>
					<td style="width: 1.5rem;">职业类别：</td>
					<td id="type"></td>
				</tr>
				<tr>
					<td style="width: 1.5rem;">工作内容：</td>
					<td id="work"></td>
				</tr>
				<tr>
					<td style="width: 1.5rem;">职能需求：</td>
					<td id="need"></td>
				</tr>
			</table>
		</div>
		<div class="bg">
		</div>
	</div>
</body>
<script type="text/javascript" src="/public/js/Technologyjs/jquery-1.10.2.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript">
	var scale = 1 / window.devicePixelRatio;
    document.querySelector('meta[name="viewport"]').setAttribute('content','width=device-width,initial-scale=' + scale + ', maximum-scale=' + scale + ', minimum-scale=' + scale + ', user-scalable=no');
    document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + 'px';
</script>
<script type="text/javascript" src="/public/js/Technologyjs/readboy.js"></script>

</html>