a,a:hover{
    color: white;
    text-decoration: none;
}
.title-wrap{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 60px;
    background-color:rgba(255,255,255,0.5);
    z-index: 2;
    color: #ffffff;
    font-size: 14px;
}
.title-wrap .logo{
    float: left;
    margin: 10px;
    width: 62px;
    height: 40px;
    background-image: url('/public/images/logo.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.title-wrap .self{
    float: right;
    height: 100%;
    width: 150px;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    transition:background-color 1s;
    -moz-transition:background-color 1s; /* Firefox 4 */
    -webkit-transition:background-color 1s; /* Safari and Chrome */
    -o-transition:background-color 1s; /* Opera */
}
.title-wrap .login{
    float: right;
    height: 100%;
    width:100px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    transition:background-color 1s;
    -moz-transition:background-color 1s; /* Firefox 4 */
    -webkit-transition:background-color 1s; /* Safari and Chrome */
    -o-transition:background-color 1s; /* Opera */
}
.title-wrap .register{
    float: right;
    height: 100%;
    width:100px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    transition:background-color 1s;
    -moz-transition:background-color 1s; /* Firefox 4 */
    -webkit-transition:background-color 1s; /* Safari and Chrome */
    -o-transition:background-color 1s; /* Opera */
}
.title-wrap .self:hover,.title-wrap .login:hover,.title-wrap .register:hover{
    background-color: rgba(255,255,255,0.6);
}
.self-detail{
    display: none;
    position: relative;
    right: -5px;
    width: 150px;
    background-color: rgba(255,255,255,0.5);
}
.self-detail ul li{
    list-style: none;
}
.self-detail ul li:hover{
    background-color: rgba(255,255,255,0.6);
}







.title-wrap a{
    display: block;
    width: 100%;
    height: 100%;
}
.side-bar{
    position: fixed;
    right: 25px;
    top: 50%;
}
.side-bar ul{
    width: 50px;
   text-align: center;
}
.side-bar ul li{
    list-style: none;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}
.side-bar ul li:hover{
    width: 20px;
    height: 20px;
}
.side-bar ul li a{
    display: block;
    width: 100%;
    height: 100%;
}

#container2{
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    background-color: #2d2126;
    overflow-y:auto;
}
.grid{
    display: flex;
    flex-wrap:wrap;
    justify-content:flex-start;
    margin: 100px auto;
    width: 1000px;
}
.grid-item{
    margin: 25px;
    width: 200px;
    height: 200px;
    background-color: rgba(255,255,255,0.6);
    border-radius: 20px;
}
.grid-item:hover{
    -moz-box-shadow:0px 0px 10px #FFFFFF;
    -webkit-box-shadow:0px 0px 10px #FFFFFF;
    box-shadow:0px 0px 10px #FFFFFF;
}
.movegrop{
    width: 450px;
    height:45px;
    margin:  110px auto;
}
.movegrop input{
    height: 100%;
}
.movegrop button{
    display: inline-block;
    height: 45px;
}

footer{
    width: 100%;
    color: white;
}


.modal-dialog{
    width: 378px;
}
.modal-body{
    padding: 0px;
}