.title-wrap{
    width: 100%;
    height: 60px;
    color: #ffffff;
    font-size: 14px;
    background-color: rgba(255,255,255,0.5);
    border-bottom: 1px solid #D7D8D9;
}
.title-wrap .logo{
    float: left;
    margin: 10px;
    width: 62px;
    height: 40px;
    background-image: url('/public/images/logo.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.title-wrap .return{
    float: right;
    height: 100%;
    width:100px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    transition:background-color 1s;
    -moz-transition:background-color 1s; /* Firefox 4 */
    -webkit-transition:background-color 1s; /* Safari and Chrome */
    -o-transition:background-color 1s; /* Opera */
}
.title-wrap #logout{
    float: right;
    height: 100%;
    width:100px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    transition:background-color 1s;
    -moz-transition:background-color 1s; /* Firefox 4 */
    -webkit-transition:background-color 1s; /* Safari and Chrome */
    -o-transition:background-color 1s; /* Opera */
}
.title-wrap #logout:hover,.title-wrap .return:hover{
    background-color: #d7d8d9;
}
.title-wrap a,.title-wrap a:hover{
    color: #373D41;
    text-decoration: none;
}
.title-wrap a{
    display: block;
    width: 100%;
    height: 100%;
}

.content{
    margin: 0 auto;
    width: 1600px;
    overflow: hidden;
}
.page_2 table th,.page_2 table td{
    text-align: center;
    white-space: nowrap;
}