@media screen and (max-width:1366px) {
    html,body{
        width: 1366px;
    }
    .content{
        width: 1366px;
    }
}
@media screen and (min-width:1367px){
    html,body{
        width: 100%;
    }
    .content{
        width: 1366px;
    }
}
.title-wrap{
    width: 100%;
    height: 60px;
    color: #ffffff;
    font-size: 14px;
    background-color: rgba(255,255,255,0.5);
    border-bottom: 1px solid #D7D8D9;
}
.title-wrap .logo{
    float: left;
    margin: 10px;
    width: 62px;
    height: 40px;
    background-image: url('/public/images/logo.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.title-wrap .return{
    float: right;
    height: 100%;
    width:100px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    transition:background-color 1s;
    -moz-transition:background-color 1s; /* Firefox 4 */
    -webkit-transition:background-color 1s; /* Safari and Chrome */
    -o-transition:background-color 1s; /* Opera */
}
.title-wrap #logout{
    float: right;
    height: 100%;
    width:100px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    transition:background-color 1s;
    -moz-transition:background-color 1s; /* Firefox 4 */
    -webkit-transition:background-color 1s; /* Safari and Chrome */
    -o-transition:background-color 1s; /* Opera */
}
.title-wrap #logout:hover,.title-wrap .return:hover{
    background-color: #d7d8d9;
}
.title-wrap a,.title-wrap a:hover{
    color: #373D41;
    text-decoration: none;
}
.title-wrap a{
    display: block;
    width: 100%;
    height: 100%;
}

.content{
    margin: 0 auto;
    overflow: hidden;
}
.content .page_1{
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
}
.content .page_1 .pic{
    display: inline-block;
    flex: 0 0 50px;
    width: 50px;
    height: 50px;
    background-image: url("/public/images/student.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    vertical-align: middle;
}
.content .page_1 h3{
    display: inline-block;
    flex: 1;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 20px;
    height: 50px;
    line-height: 50px;
}
.page_2 table th,.page_2 table td,.page_3 table th,.page_3 table td{
    text-align: center;
    white-space: nowrap;
}


/*预览框的样式*/
iframe{
    border-width: 0px;
    width: 375px;
    height: 667px;
}
footer{
    margin-top: 60px;
    margin-bottom: 60px;
}

